service:
  name: car-pool-service

custom:
  webpack:
    webpackConfig: ./webpack.config.js
    includeModules: true

# Add the serverless-webpack plugin
plugins:
  - serverless-webpack
  - serverless-iam-roles-per-function

provider:
  name: aws
  runtime: nodejs12.x

  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'eu-west-2'}

  apiGateway:
    minimumCompressionSize: 1024 # Enable gzip compression for responses > 1 KB

  environment:
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: 1
    CAR_TABLE: Car-${self:provider.stage}
    CAR_TABLE_ARN: "arn:aws:dynamodb:eu-west-2:*:table/${self:provider.environment.CAR_TABLE}"
    CAR_TABLE_INDEXES_ARN: "arn:aws:dynamodb:eu-west-2:*:table/${self:provider.environment.CAR_TABLE}/index/*"
    CAR_PICTURE_S3_BUCKET: car-pool-picture-upload-bucket-${self:provider.stage}
    SIGNED_URL_EXPIRATION: 300
    CAR_OWNER_INDEX_NAME: car-owner-index
    # The following items are placeholder for future development
    BOOKING_TABLE: Booking-${self:provider.stage}
    BOOKING_TABLE_ARN: "arn:aws:dynamodb:eu-west-2:*:table/${self:provider.environment.BOOKING_TABLE}"
    BOOKING_DATE_INDEX_NAME: booking-date-index

functions:
  GetPhotoUploadUrl:
    handler: src/lambda/http/getPhotoUploadUrl.handler
    events:
      - http:
          method: get
          path: cars/loaned/{carId}/uploadUrl
          cors: true

  DeleteCar:
    handler: src/lambda/http/deleteCar.handler
    events:
      - http:
          method: delete
          path: cars/loaned/{carId}
          cors: true
    iamRoleStatements:
      - Effect: Allow
        Action: dynamodb:DeleteItem
        Resource: ${self:provider.environment.CAR_TABLE_ARN}

  GetUserCars:
    handler: src/lambda/http/getUserCars.handler
    events:
      - http:
          method: get
          path: cars/loaned
          cors: true
    iamRoleStatements:
      - Effect: Allow
        Action: dynamodb:Query
        Resource: ${self:provider.environment.CAR_TABLE_ARN}
      - Effect: Allow
        Action: dynamodb:Query
        Resource: ${self:provider.environment.CAR_TABLE_INDEXES_ARN}

  CreateCar:
    handler: src/lambda/http/createCar.handler
    events:
      - http:
          method: post
          path: cars
          cors: true
    iamRoleStatements:
      - Effect: Allow
        Action: dynamodb:PutItem
        Resource: ${self:provider.environment.CAR_TABLE_ARN}

  UpdateCar:
    handler: src/lambda/http/updateCar.handler
    events:
      - http:
          method: put
          path: cars/loaned/{carId}
          cors: true
    iamRoleStatements:
      - Effect: Allow
        Action: dynamodb:UpdateItem
        Resource: ${self:provider.environment.CAR_TABLE_ARN}

resources:
  Resources:
    CarDynamoDBTable:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
          - AttributeName: carId
            AttributeType: S
          - AttributeName: ownerId
            AttributeType: S
          - AttributeName: createdAt
            AttributeType: S
        KeySchema:
          - AttributeName: carId
            KeyType: HASH
          - AttributeName: ownerId
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
        TableName: ${self:provider.environment.CAR_TABLE}
        GlobalSecondaryIndexes:
          - IndexName: ${self:provider.environment.CAR_OWNER_INDEX_NAME}
            KeySchema:
              - AttributeName: ownerId
                KeyType: HASH
              - AttributeName: createdAt
                KeyType: RANGE
            Projection:
              ProjectionType: ALL # What attributes will be copied to an index

    BookingDynamoDBTable:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
          - AttributeName: bookingId
            AttributeType: S
          - AttributeName: carId
            AttributeType: S
          - AttributeName: bookDate
            AttributeType: S
        KeySchema:
          - AttributeName: bookingId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: ${self:provider.environment.BOOKING_TABLE}
        GlobalSecondaryIndexes:
          - IndexName: ${self:provider.environment.BOOKING_DATE_INDEX_NAME}
            KeySchema:
              - AttributeName: carId
                KeyType: HASH
              - AttributeName: bookDate
                KeyType: RANGE
            Projection:
              ProjectionType: ALL # What attributes will be copied to an index

    UploadBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:provider.environment.CAR_PICTURE_S3_BUCKET}
        CorsConfiguration:
          CorsRules:
            - AllowedOrigins:
                - "*"
              AllowedHeaders:
                - "*"
              AllowedMethods:
                - GET
                - PUT
                - POST
                - DELETE
                - HEAD
              MaxAge: 3000

    BucketPolicy:
      Type: AWS::S3::BucketPolicy
      Properties:
        PolicyDocument:
          Id: MyPolicy
          Version: "2012-10-17"
          Statement:
            - Sid: PublicReadForGetBucketObjects
              Effect: Allow
              Principal: "*"
              Action: ["s3:GetObject", "s3:Put*"]
              Resource: "arn:aws:s3:::${self:provider.environment.CAR_PICTURE_S3_BUCKET}/*"
        Bucket: { Ref: UploadBucket }
